@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the development branch of the AddressBookMVC project.</h1>
    <p>This app is designed to be deployed yo Heroku and use one of their free databases. </p>
    <p>Current goals:</p>
    <ol>
        <li>Use the CODE FIRST approach to database design to establish the columns for the database.</li>
        <li>add more items here... etc.</li>
    </ol>
</div>
